@model IEnumerable<AsyncInn.Models.Room>

@{
    ViewData["Title"] = "Index";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<h1>Our Rooms</h1>

<div class="homePageDiv">
    <div class="homePageMenu">

        <a class="homePageListItem" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>

    <div class="homePageMenu">
        <a class="homePageListItem" asp-area="" asp-controller="Hotel" asp-action="">Hotels</a>
    </div>
    <div class="homePageMenu">
        <a class="homePageListItem" asp-area="" asp-controller="RoomControlller" asp-action="">Room</a>
    </div>
    <div class="homePageMenu">
        <a class="homePageListItem" asp-area="" asp-controller="Amenities" asp-action="">Amenities</a>
    </div>

</div>

<p>
    <a asp-action="Create" class="createButton">Create New</a>
</p>
<table class="hotelTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Layout)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
